/* SCROLL & SELECT */

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  transition: all 0.5s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2f78;
}

/* SELECT */
::selection {
  background: rgb(231, 217, 207);
  color: #fff;
}

/* FONTS DECLARATION */

html{
    font-family: "Cormorant Garamond", serif;
    scroll-behavior: smooth;
}

body{
  background: rgb(238, 233, 230) none repeat scroll 0% 0%;
  transition:all 1s cubic-bezier(0.33, 1, 0.68, 1);
}

body.change-bg{
  background: rgb(231, 217, 207) none repeat scroll 0% 0%;
}

*,*::before,*::after{font-family:inherit;}

a{
    text-decoration: none;
}

a,
p,
div,
span,
li {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.fw-400 {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  color: #000;
}
h1,
h2,
.fw-900 {
  font-weight: 900;
}
h3,
h4,
h5,
h6,
strong,
b,
.fw-700 {
  font-weight: 700;
}

img{
  height:auto;
  max-width: 100%;
  user-select: none;
  pointer-events: none;
  display:block;
}

ul,ol{list-style: none; padding:0;}

/* MAIN USED STYLES */

.rel,
.relative {
  position: relative;
}
.abs {
  position: absolute;
}
.abs-tl {
  position: absolute;
  top: 0;
  left: 0;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.full-width {
  width: 100%;
}
.fill-dimentions {
  width: 100%;
  height: 100%;
}

.min-h-70vh{min-height: 70vh;}

.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-10 {
  z-index: 10;
}
.z-999{
    z-index: 999;
}

.ta-center {
  text-align: center;
}

.general-bg {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg-white {
  background: #fff;
}
.bg-blue {
  background: #009bda;
}

.all-white-txt * {
  color: #fff;
}
.color-blue {
  color: #009bda;
}

.overflow {
  overflow: hidden;
}

.ta-right {
  text-align: right;
}

/* Grid */

.grid {
  width: 92%;
  margin: 0 auto;
  max-width: 1800px;
}
.gutter {
  margin: 0 20px;
}
.block-10 {
  width: 10%;
}
.block-15 {
  width: 15%;
}
.block-20 {
  width: 20%;
}
.block-25 {
  width: 25%;
}
.block-30 {
  width: 30%;
}
.block-33 {
  width: 33.33333%;
}
.block-40 {
  width: 40%;
}
.block-42 {
  width: 42%;
}
.block-50 {
  width: 50%;
}
.block-60 {
  width: 60%;
}
.block-66 {
  width: 66.66667%;
}
.block-70 {
  width: 70%;
}
.block-73 {
  width: 73%;
}
.block-75 {
  width: 75%;
}
.block-80 {
  width: 80%;
}
.block-85 {
  width: 85%;
}

/* General */

.vert-middle {
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.abs {
  position: absolute;
}
.abs-lt {
  position: absolute;
  left: 0;
  top: 0;
}
.abs-rt {
  position: absolute;
  right: 0;
  top: 0;
}
.abs-lb {
  position: absolute;
  left: 0;
  bottom: 0;
}
.abs-rb {
  position: absolute;
  right: 0;
  bottom: 0;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.abs-tl {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.abs-bl {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.abs-mr {
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.abs-ml {
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.no-scroll {
  overflow: hidden;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.go-right {
  margin-left: auto;
}
.go-center {
  margin: 0 auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.fill-dimentions {
  width: 100%;
  height: 100%;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.ta-center {
  text-align: center;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.ta-justify {
  text-align: justify;
  display: block;
}

.z-neg {
  z-index: -1;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-100 {
  z-index: 100;
}
.z-200 {
  z-index: 200;
}
.z-998 {
  z-index: 998;
}
.z-999 {
  z-index: 999;
}
.z-1000 {
  z-index: 1000;
}
.lh-12-vw{
  line-height: 12vw;
}
.hidden {
  opacity: 0;
}
.display-none {
  display: none;
}
.overflow {
  overflow: hidden;
}
.display--inline {
  display: inline-block;
}
.display--inline-top {
  display: inline-block;
  vertical-align: top;
}
.display--inline-mid {
  display: inline-block;
  vertical-align: middle;
}
.display--inline-bot {
  display: inline-block;
  vertical-align: bottom;
}
.display--flex {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.display--block {
  display: block;
}
.pe-none {
  pointer-events: none;
}
.pe-all {
  pointer-events: all;
}
.general-bg {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.no-margin {
  margin: 0;
}

.top-pad{padding-top:100px;}

.fs-3-vw{font-size: 3vw;}
.fs-4-vw{font-size: 4vw;}
.fs-10-vw{font-size: 10vw;}
.fs-16-vw{font-size: 16vw;}
.fs-24{font-size:24px;}
.fs-30{font-size:30px;}
.fs-40{font-size:40px;}
.fs-60{font-size:60px;}
.fs-big{font-size:100px;}
.fs-vw{font-size:6vw;}

.lh{line-height: 1.5;}

.montserrat{font-family: 'Montserrat', sans-serif;}

.uppercase{text-transform: uppercase;}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* HEADER */

header{
  position:fixed;
  left:0;
  top:0;
  z-index:999;
  transform: translateY(-100%);
}

.site-branding::before{
  content: '';
  position: absolute;
  display: block;
  height:2px;
  background-color: #000;
  max-width:1800px;
  left:0;
  width:calc(92vw - 40px);
  bottom:0;
  transform-origin: left top;
  transition:all 1s cubic-bezier(0.33, 1, 0.68, 1);
}

header.scrolled .site-branding::before{
  width:0;
}

/* HERO */
.hero.top-pad{padding-top:200px;}

.first-line span{transform: translateY(-100%); padding-bottom: 15px;}

.sec-line > div{
  opacity:0;
  transform:translateY(50px) ;
}

/* PROJECTS */

.projects__intro,.work-row{
  opacity: 0;
  transform: translateY(50px);
}

.work-row {
  padding: 15px 0;
  line-height: 1;
  z-index: 0;
}

.work-row::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 2px;
  bottom: 0;
  left: 0;
}

.work-link {
  z-index: 1;
  line-height: 1;
  transition:all 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.work-image-holder {
  pointer-events: none;
  transform: translate(0, -50%);
  -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition:all 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.work-image-holder::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  mix-blend-mode: color;
  filter: saturate(0.5);
  transition:all 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.work-image-holder img {
  transform: scale(1.2);
  transform-origin: center center;
  transition:all 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.work-row:hover {
  z-index: 999;
}

.work-row:hover .work-link {
  letter-spacing: 2px;
}

.work-row:hover .work-image-holder {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 9999;
}

.work-row:hover .work-image-holder::before {
  opacity: 0.1;
}

.work-row:hover .work-image-holder img {
  transform: scale(1);
}


/* ABOUT */

.about-introduction span:first-child{padding-bottom: 20px;}

/* FOOTER */

.cta::after{
  content:'';
  position:absolute;
  display:block;
  height:3px;
  width:100%;
  left:0;
  bottom:0;
  background-color: #000;
  transform: scaleX(0);
  transition:all 1s cubic-bezier(0.33, 1, 0.68, 1);
  transform-origin: left;
}

.cta:hover::after{
  transform: scaleX(1);

}

footer .site-info{margin:30px 0; padding:30px 0; border-top:1px solid black;}


.cursor-follower {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	pointer-events: none;
	mix-blend-mode: exclusion;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 150px;
  height: auto;
}
.cursor-follower.over-white {
	mix-blend-mode: initial;
}
.cursor-follower.over-white .cursor__inner {
	fill: #0000005e;
	stroke-width: 0;
}
.cursor__inner {
	fill: #fff;
	stroke: #fff;
	stroke-width: 1px;
	transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform-origin: 50% 50%;
}
.cursor-follower.active .cursor__inner {
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
	transform: scale(2);
}
.cursor-follower.active.active-sm .cursor__inner {
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
}


@media only screen and (max-width:1440px){
  .about-introduction span:first-child{font-size:75px;}

  .about-introduction span:last-child{font-size:18px;}
}

@media only screen and (max-width:1024px){
  .main-navigation a{font-size:30px;}

  .about-introduction span:first-child{font-size:45px;}

  .about-introduction span:last-child{font-size:16px;}
}

@media only screen and (max-width:768px){
  .fs-4-vw{font-size: 36px;}

  .work-row, .fs-3-vw{font-size: 22px;}
  
  header .site-branding{width:30% !important;}

  header .main-navigation{width:70% !important;}

   .hero.min-h-70vh{
    min-height: initial;
    padding:120px 0 30px;
  }

  .about-introduction span:first-child{font-size: 30px;}

  .about-introduction span:last-child{font-size:14px;}
}

@media only screen and (max-width:425px){
  header{background-color: rgb(238, 233, 230); transition: all 1s cubic-bezier(0.33, 1, 0.68, 1);}

  header.scrolled{background-color:rgb(231, 217, 207);}

  header .site-branding{display: none;}

  header .main-navigation{width:100% !important;}

  header .main-navigation ul{text-align: center;}

  .first-line span{font-size:20px;}

  .sec-line div{font-size:15vw;}

  .about-introduction,.about-image{width:100%; padding-bottom:20px;}

  .cta-holder a{font-size:7vw;}
}

@media only screen and (max-width:375px){
  .main-navigation a{font-size:24px;}

  .first-line span{font-size:18px;}

  .footer-logo span, .social a{font-size:24px;}
}